<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <h2>This is the about page</h2>
    <img class="portrait" src="./img/foto-perfil-web.jpg">
    <p>
      The wizards face remained grave and attentive, and only a flicker in his
      deep eyes showed that he was startled and indeed alarmed. It has been
      called that before, he said, but not by you.
    </p>

    <p>
      The hobbits looked anxiously at the distant hills. Sam looked up into the
      pale sky, fearing to see hawks or eagles hovering over them with bright
      unfriendly eyes. You do make me feel uncomfortable and lonesome, Strider!
      he said.
    </p>

    <p>
      ‘Hoom, hmm! Come now! Not so hasty! You call yourselves hobbits? But you
      should not go telling just anybody. You’ll be letting out your own right
      names if you’re not careful.’
    </p>

    <p>
      ‘Hold up, Mr. Frodo!’ muttered Sam in Frodo’s ear. ‘Come back! Not that
      way. Gollum says not, and for once I agree with him.’
    </p>

    <p>
      ‘Hm! Not bad, not bad,’ said Treebeard. ‘That would do. So you live in
      holes, eh? It sounds very right and proper. Who calls you hobbits, though?
      That does not sound Elvish to me. Elves made all the old words: they began
      it
    </p>
  </div>
  {{>footer}}
</body>

</html>